retrieved/flows/Case_Customer_Termination_Decomissioning_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Stalled_Notification_Slack</name>
        <label>Case Stalled Notification Slack</label>
        <locationX>710</locationX>
        <locationY>1787</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Post_Stalled_Slack_To_Discovery_Channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Stalled_Customer_Termination_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Case_Stalled_Notification_Slack_Discovery_Channel</name>
        <label>Case Stalled Notification Slack (Discovery Channel)</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>DiscoverySlackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Stalled_Customer_Termination_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Customer_Termination_Case_Escalation_Level_1_Action_1</name>
        <label>Customer Termination Case Escalation Level 1 Action 1</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <actionName>Case.Customer_Termination_Case_Escalation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Stalled_Notification_Slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Customer_Termination_Case_Escalation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Customer_Termination_Level_1_Escalation_Content</name>
        <label>Customer Termination Level 1 Escalation - Content</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <actionName>Case.Customer_Termination_Level_1_Escalation_Content</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Stalled_Notification_Slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Customer_Termination_Level_1_Escalation_Content</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Instant_Discovery_Notification</name>
        <label>Instant Discovery Notification</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <actionName>Case.Customer_Termination_Discovery_Support_Engineering</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>After_Discovery_Notification_Routing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Customer_Termination_Discovery_Support_Engineering</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Instant_Notification</name>
        <label>Instant Notification</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <actionName>Case.Customer_Termination_Case_Moved_to_Engineering</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Customer_Termination_Case_Moved_to_Engineering</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Post_Moved_Slack_To_Discovery_Channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>CaseMovedToNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Discovery_Channel</name>
        <label>Send Slack Message (Discovery Channel)</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>DiscoverySlackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>CaseMovedToNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>DiscoveryAdditionalText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>As an Account Manager, please follow the decommissioning process referenced &lt;https://docs.google.com/presentation/d/14mhEjxlhm6uZvpP0aJXC1vWAe0nshQj9Emm5-40BUQs/edit?slide=id.g2e2a82e34da_0_5#slide=id.g2e2a82e34da_0_5|here&gt;.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>After_Discovery_Notification_Routing</name>
        <label>After Discovery Notification Routing</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_AfterDiscovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instant_Notification</targetReference>
            </connector>
            <label>Content</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pillar</name>
        <label>Check Pillar</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Instant_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instant_Discovery_Notification</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_31_days_passed</name>
        <label>Have 31 days passed?</label>
        <locationX>1194</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decommissioning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysInCurrentStage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Pillar_Selection</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_35_days_passed</name>
        <label>Have 35 days passed?</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decommissioning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysInCurrentStage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Pillar_Selection</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Moved_Slack_To_Discovery_Channel</name>
        <label>Post moved Slack to Discovery channel?</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_MovedSlack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_Discovery_Channel</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Stalled_Slack_To_Discovery_Channel</name>
        <label>Post stalled Slack to Discovery channel?</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_StalledSlack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Stalled_Notification_Slack_Discovery_Channel</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Pillar_Selection</name>
        <label>Product Pillar Selection</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Customer_Termination_Case_Escalation_Level_1_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Termination_Level_1_Escalation_Content</targetReference>
            </connector>
            <label>Content</label>
        </rules>
    </decisions>
    <description>Send slack notifications and emails for decomissioning</description>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalWording</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS(TEXT({!$Record.Pillar__c}), &apos;Discovery&apos;), 
{!DiscoveryAdditionalText}
,
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>DaysInCurrentStage</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!$Record.Engineering_Date_Time_Stamp__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DiscoverySlackChannelId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Slack_Channel_Settings__c.discovery_termination_notifications__c}</expression>
    </formulas>
    <formulas>
        <name>reference</name>
        <dataType>String</dataType>
        <expression>&quot;[ ref:_&quot; &amp; LEFT({!$Organization.Id},5) &amp; SUBSTITUTE(RIGHT({!$Organization.Id},10), &quot;0&quot;, &quot;&quot; )&amp; &quot;._&quot; &amp; LEFT({!$Record.Id},5) &amp; Left(RIGHT({!$Record.Id},8), 5)  &amp;  &quot;:ref ]&quot;</expression>
    </formulas>
    <formulas>
        <name>SlackChannelId</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS(TEXT({!$Record.Pillar__c}), &apos;Content&apos;),
    {!$Setup.Slack_Channel_Settings__c.content_termination_support_engineering__c},
    {!$Setup.Slack_Channel_Settings__c.customer_termination_requests__c}
)</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;New Customer Termination Request &quot;&amp;{!reference}</expression>
    </formulas>
    <interviewLabel>Case - Customer Termination Decomissioning Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Customer Termination Decomissioning Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Termination</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Decommissioning</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Pillar</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>X31_Days</name>
            <connector>
                <targetReference>Have_31_days_passed</targetReference>
            </connector>
            <label>31 Days</label>
            <offsetNumber>31</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X35_Days</name>
            <connector>
                <targetReference>Have_35_days_passed</targetReference>
            </connector>
            <label>35 Days</label>
            <offsetNumber>35</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseMovedToNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Customer Termination Request Moved to *{!$Record.Stage__c}*

*Termination Date:* {!$Record.Termination_Effective_Date__c}
*Account:* {!$Record.Account.Name}
*Related Opportunity:* https://bloomreach.lightning.force.com/{!$Record.Opportunity__c}
*Average ARR:* {!$Record.Opportunity__r.Average_ARR__c} {!$Record.CurrencyIsoCode}
*Case Submitter:* {!$Record.CreatedBy.Full_Name__c}
*Account Manager:* {!$Record.Account_Manager__r.Full_Name__c}
*Current Stage:* {!$Record.Stage__c}

Please see additional comments or updates by visiting the Ticket URL:
https://bloomreach.lightning.force.com/{!$Record.Id}

{!AdditionalWording}</text>
    </textTemplates>
    <textTemplates>
        <name>Stalled_Customer_Termination_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Customer Termination Request requires your attention. Please review and update as needed.

*Termination Date:* {!$Record.Termination_Effective_Date__c}
*Account:* {!$Record.Account.Name}
*Related Opportunity:* https://bloomreach.lightning.force.com/{!$Record.Opportunity__c}
*Average ARR:* {!$Record.Opportunity__r.Average_ARR__c} {!$Record.CurrencyIsoCode}
*Case Submitter:* {!$Record.CreatedBy.Full_Name__c}
*Account Manager:* {!$Record.Account_Manager__r.Full_Name__c}
*Case Owner:* {!$Record.Owner:User.Full_Name__c}

*Current Stage:* {!$Record.Stage__c}
Please see additional comments or updates by visiting the Ticket URL:
https://bloomreach.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
</Flow>
