retrieved/flows/Customer_Termination_Case_Discovery_Engineering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email warning to System Admin: Case Slack Message Failed</description>
        <name>Case_Slack_Message_Failed</name>
        <label>Case Slack Message Failed</label>
        <locationX>572</locationX>
        <locationY>384</locationY>
        <actionName>Case.Case_Slack_Message_Failed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Slack_Message_Failed</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Slack message for Customer Termination case for Discovery Engineering</description>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Flow_Log_Send_Slack</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Slack_Message_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08M86S4K8W</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Customer_Termination_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>BypassSlack</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <description>Sends Slack message when triggered by Customer Termination case for Discovery pillar.</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseOwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>IsHostingPlatformSaaS</name>
        <dataType>Boolean</dataType>
        <expression>IF( CONTAINS({!$Record.Hosting_Platform__c}, &apos;SaaS&apos;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Customer Termination Case Discovery Engineering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Termination Case Discovery Engineering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Flow_Log_Send_Slack</name>
        <label>Flow Log: Send Slack</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>Customer Termination Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Step__c</field>
            <value>
                <stringValue>Send Slack Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variable_Name_2__c</field>
            <value>
                <stringValue>Pillar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variable_Name__c</field>
            <value>
                <stringValue>Customer Termination Stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variable_Value_2__c</field>
            <value>
                <elementReference>$Record.Pillar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variable_Value__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pillar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Send_Slack_Message</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>The stage has changed to Engineering for the following customer termination case</description>
        <name>Customer_Termination_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:bloomreach:* Customer Termination Case* :bloomreach:
*Customer Termination Request Stage has changed to Engineering for the following Case:* {!$Record.CaseNumber}
&lt;https://bloomreach.lightning.force.com/{!$Record.Id} |*Salesforce Case Link*&gt;

*Account:* {!$Record.Account.Name} 
*Termination Date:* {!$Record.Termination_Effective_Date__c}
*Related Opportunity:* {!$Record.Opportunity__r.Name} 
*Pillar:* {!$Record.Pillar__c}
*Terminated Products ARR:* {!$Record.Terminated_Products_ARR__c} {!$Record.CurrencyIsoCode}
*Account Manager:* {!$Record.Account_Manager__r.Full_Name__c}
*Case Number:* {!$Record.CaseNumber}
*Case Owner:* {!CaseOwnerName}
*Current Stage:* {!$Record.Stage__c}</text>
    </textTemplates>
</Flow>
