retrieved/flows/Customer_Termination_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Rejected</name>
        <label>Rejected?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance - Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Date_Time_Stamp</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage</name>
        <label>Which Stage?</label>
        <locationX>1040</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>AM</label>
        </rules>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Date_Time_Stamp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Decommissioning_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decommissioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Finance_Date_Time_Stamp</targetReference>
            </connector>
            <label>Decommissioning</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Date_Time_Stamp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Finance</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract blocker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client recovered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Closed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Closed by AE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Termination Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Customer Termination Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_2_of_Finance_Date_Time_Stamp</name>
        <label>Engineering_Date_Time_Stamp__c</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Engineering_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Finance_Date_Time_Stamp</name>
        <label>Finance Date/Time Stamp</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Finance_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Status__c</field>
            <value>
                <stringValue>Finance - In progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Legal_Date_Time_Stamp</name>
        <label>Legal Date/Time Stamp</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Legal_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Status__c</field>
            <value>
                <stringValue>Legal - In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Rejection_Date_Time_Stamp</name>
        <label>Rejection Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Rejection_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Close_Reason__c</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Status__c</field>
            <value>
                <stringValue>Completed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Closed</name>
        <label>Update Status Closed</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Status__c</field>
            <value>
                <stringValue>AM - Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Stage</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Customer_Termination_Message_for_Accounting</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Accounting Team, 

The following Customer Termination Case has been approved by both Legal and Finance as a valid termination. The Engineering team has been notified as well for decommissioning at the appropriate time. 
Please run your verifications and communicate any points worth mentioning to the Case Owner. For more details, please see these resources: 
Brief video: https://drive.google.com/file/d/1HgRqg4XZOqekcCSzO6yWLL7LSYQ6EjoJ/view
Process documentation overview: https://docs.google.com/document/d/12rFdIDneyVUnByUx1Y12yOkJxIxs_8ZZ/view
Case link: https://bloomreach.lightning.force.com/{!$Record.Id}

Account: {!$Record.Account.Name} 
Termination Date: {!$Record.Termination_Effective_Date__c}
Related Opportunity: https://bloomreach.lightning.force.com/{!$Record.Opportunity__c} 
Pillar: {!$Record.Pillar__c}
ARR: {!$Record.Opportunity__r.Converted_ARR__c} USD
Case Submitter: {!$Record.Account_Manager__c}
Case Owner: {!$Record.Owner:User.Name}
Current Stage: {!$Record.Stage__c}

Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>SlackMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Termination Date: {!$Record.Termination_Effective_Date__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Account: &lt;a href=&quot;https://bloomreach--gonimbly3.lightning.force.com/lightning/r/Account/%7B!Record.AccountID%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;{!$Record.Account.Name}&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Related Opportunity: &lt;a href=&quot;https://bloomreach--gonimbly3.lightning.force.com/lightning/r/Opportunity/%7B!Record.OpportunityId__c%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;{!$Record.Opportunity__c}&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Pillar: {!$Record.Pillar__c}&lt;/p&gt;&lt;p&gt;Amount: {!$Record.Terminated_Products_ARR__c}&lt;/p&gt;&lt;p&gt;Case Submitter: {!$Record.Account_Manager__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Case Owner: {!$Record.Owner:User.Name}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
