retrieved/flows/Customer_Termination_Messages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Customer_Termination_Message_Rejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Chatter_Post</name>
        <label>Copy 1 of Chatter Post</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Customer_Termination_Message_Stage_Change1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Slack</name>
        <label>Copy 1 of Send Slack</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Copy_1_of_Chatter_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04SY5E6ECW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Customer_Termination_Message_Stage_Change1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack</name>
        <label>Send Slack</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04SY5E6ECW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Customer_Termination_Message_Rejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T025GS4EH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_type_of_Stage_change_has_happened</name>
        <label>What type of Stage change has happened?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_has_been_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack</targetReference>
            </connector>
            <label>Case has been rejected</label>
        </rules>
    </decisions>
    <description>Slack &amp; Chatter Post w/ Case Information</description>
    <environments>Default</environments>
    <interviewLabel>Customer Termination Messages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Termination Messages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>What_type_of_Stage_change_has_happened</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Customer_Termination_Message_Rejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following case has been rejected. 
Case link: https://bloomreach.lightning.force.com/{!$Record.Id}

Account: {!$Record.Account.Name} 
Termination Date: {!$Record.Termination_Effective_Date__c}
Related Opportunity: https://bloomreach.lightning.force.com/{!$Record.Opportunity__c} 
Pillar: {!$Record.Pillar__c}
Amount: {!$Record.Opportunity__r.Converted_ARR__c} USD
Case Submitter: {!$Record.CreatedBy.Name}
Account Manager: {!$Record.Account_Manager__r.Full_Name__c}
Case Owner: {!$Record.Owner:User.Full_Name__c}
Current Stage: {!$Record.Stage__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Customer_Termination_Message_Stage_Change</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The stage has changed for the following case&lt;/p&gt;&lt;p&gt;Case link: https://bloomreach.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account: {!$Record.Account.Name}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Termination Date: {!$Record.Termination_Effective_Date__c}&lt;/p&gt;&lt;p&gt;Related Opportunity: {!$Record.Opportunity__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Pillar: {!$Record.Pillar__c}&lt;/p&gt;&lt;p&gt;Amount: {!$Record.Terminated_Products_ARR__c}&lt;/p&gt;&lt;p&gt;Case Submitter: {!$Record.Account_Manager__c}&lt;/p&gt;&lt;p&gt;Case Owner: {!$Record.Owner:User.Full_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Customer_Termination_Message_Stage_Change1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The stage has changed for the following case
Case link: https://bloomreach.lightning.force.com/{!$Record.Id}

Account: {!$Record.Account.Name} 
Termination Date: {!$Record.Termination_Effective_Date__c}
Related Opportunity: https://bloomreach.lightning.force.com/{!$Record.Opportunity__c} 
Pillar: {!$Record.Pillar__c}
Case Submitter: {!$Record.CreatedBy.Name}
Account Manager: {!$Record.Account_Manager__r.Full_Name__c}
Case Owner: {!$Record.Owner:User.Full_Name__c}
Current Stage: {!$Record.Stage__c}</text>
    </textTemplates>
</Flow>
