retrieved/flows/Support_Case_for_Engineering_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Pillar</name>
        <label>Copy 1 of Pillar</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Content_and_Discovery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Support_Ticket</targetReference>
            </connector>
            <label>Copy 1 of Content and Discovery</label>
        </rules>
    </decisions>
    <description>Create Support Case Manually and Link to CT Case. Scheduled path</description>
    <environments>Default</environments>
    <formulas>
        <name>productFamily</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Pillar__c},
&quot;Engagement&quot;, &quot;Engagement&quot;,
&quot;Content&quot;, &quot;brXM&quot;,
&quot;Discovery&quot;, &quot;brSM&quot;,
&quot;brX&quot;)</expression>
    </formulas>
    <formulas>
        <name>suportCaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Termination Request for account &quot;&amp;{!$Record.Account.Name}&amp;&quot; who is terminating these products: &quot;&amp;{!$Record.Issue_Summary__c}</expression>
    </formulas>
    <formulas>
        <name>supportCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Support for Customer Termination Request - &quot;&amp;{!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>Support Case for Engineering Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Case for Engineering Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Support_Ticket</name>
        <label>Copy 1 of Create Support Ticket</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Link_to_Support_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Client_Representative__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>suportCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain__c</field>
            <value>
                <stringValue>a0J3m00001oSNVKEA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_c__c</field>
            <value>
                <elementReference>$Record.Issue_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>supportCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>br_domain__c</field>
            <value>
                <elementReference>$Record.br_domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>br_priority__c</field>
            <value>
                <stringValue>Major (P3)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>br_product__c</field>
            <value>
                <elementReference>productFamily</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Copy_1_of_Update_Link_to_Support_Case</name>
        <label>Copy 1 of Update Link to Support Case</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Related_Support_Case__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Support_Ticket</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Pillar</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
